body {
  margin: 0;
  padding: 0; }

.firework {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  min-height: 100vh;
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.firework h1 {
  margin: 0;
  font-size: 55px;
  font-weight: 300;
  text-transform: uppercase; 
}

.firework h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
}
